# Backend
PORT=3000
MONGODB_URI=mongodb://admin:password@mongo:27017/ecommerce
JWT_KEY=supersecretkey
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8000

# Frontend
VITE_BACKENDURL=http://localhost:3000
